@font-face {
	font-family: DotGothic;
	src: url(DotGothic16-Regular.ttf)
}

#title, .about, .tree {
	font-family: DotGothic;
}

div {
	display: block;
}

section dl {
	display: block;
	margin: 2.5px;
	padding: 0px;
}

.about h3{
	margin: 1.5px;
	display: block;
	padding: .5px;
}

#aboutMe {
	display: block;
	width: 25%;
	margin: 5px;
	font-family: sans-serif;
}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
	 color: #40BEEC;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }

   ul.tree li:last-child {
       border-left:none;
   }

   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }