#title, .about, ul.tree {
	font-family: 'DotGothic16', sans-serif;
	width: 75%;
}

.app {
width: 100%;
}

section dl {
	display: block;
	margin: 2.5px;
	padding: 0px;
}

.containerAbt {
	width: 80%;
}

.about { 
	width: 45%;
	display: block;
}

.about h3{
	margin: 1.5px;
	display: block;
	padding: .5px;
}

#aboutMe {
	 font-family: "Courier Prime", monospace;
	display: block;
	margin: 5px;
}

.contain {
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	.contain .c1 img{
		display: none;
}
}

.contain .c1 img{
	position: relative;
	width: 12.5%;
	height: 350px;
	margin: auto;
	float: left;
	border-radius: 5px;
}
.contain .c2{
	position: relative;
	float: left;
	width: 50%;
	padding: 0px;
}
.contain::after {
	content: "";
	clear: both;
	display: table;
}
.contain .c2 {
	color: red;
}

.more {
	float: left;
	display: block;
}
a:visited {
	text-decoration: none;
	color: #2BC0BB;
}
ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
	 color: #2BC0BB;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }

   ul.tree li:last-child {
       border-left:none;
   }

   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }
/* Shutter In Horizontal */
.shutter {
  display: inline-block;
	text-decoration: none;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.shutter:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.shutter:visited {
	color: #2BC0BB;
}
.shutter:hover, .shutter:focus, .shutter:active {
  color: white;
	
}
.shutter:hover:before, .shutter:focus:before, .shutter:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}